
<h1 style="text-align: center;">Doctors 
    <img style="width: 8rem;
    border-radius: 87px;"
        src="https://sindicatohoteleirorj.com.br/wp-content/uploads/2011/12/departamento-medico-sindicato-hoteleiro-rj-001.jpg"
        alt=""></h1>

<button btnNew class="btn btn-success" type="button">New Doctor</button>

<div style="margin-top: 3rem;" class="container">
   
    <section class="modals">
        <div class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content"></div>
                </div>
            </div>
        </div>

    </section>


    <table DataTable class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>id</th>
                <th>Name</th>
                <th>PhoneNumber</th>
                <th>Especialidade</th>
                <th>Date Create</th>
                <th>Actions</th>
            </tr>
        </thead>
    </table>

</div>



@section scripts{
 
<script src="~/scriptsViews/Doctor/Index.js"></script>
}
