<h1>Consultas</h1>

<button data-add class="btn btn-success">New Consult</button>

<section class="modals">
    <section class="modal modal-dialog">
            <section class="modal-content modal-lg"></section>
    </section>
    </section>
    
</section>



<script src="~/scriptsViews/Consulta/Index.js"></script>