@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="font-weight:bold;color:#2fc0d8;font-weight: bold;
    color: #2fc0d8;
    box-shadow: 0px 1px 9px 5px;
    border-radius: 13px;">Clínica Viva Bem</h1>
   <img  style="width:100%;box-shadow: 7px 0px 14px 1px #2fc0d8;
    border-radius: 2rem"src="https://oraldoctor.com.br/wp-content/uploads/2020/01/oraldoctor-medicina-min.jpg" alt="">
</div>

@section scripts{

<script>toastr.info("Welcome to Clínica Viva Bem System! - Powered by César Henrique Alves Oncala")</script>
}