<h1 style="text-align: center;">Patients


    <img style="width: 9rem;border-radius: 100rem;"  src="https://lh3.googleusercontent.com/proxy/Tt8VpGwf2F_titftnCwfoRo4_K9B9cdD1tr7NxG1zMh9WUgtZ6oMVn1v1r-YNtyZnlEhSh57KHXrIP0GoXXxTKM0j0vYK0hVN2_AVeObkUxY" alt="">
</h1>

<button newItem class="btn btn-success" type="button">New Patient</button>

<div style="margin-top: 3rem;" class="container">

    <section class="modals">
        <div class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content"></div>
            </div>
        </div>

    </section>

    <table data-Table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>id</th>
                <th>Name</th>
                <th>Address</th>
                <th>BirthDay</th>
                <th>PhoneNumber</th>
                <th>Date Create</th>
                <th>Actions</th>
            </tr>
        </thead>
    </table>
</div>





@section scripts{

<script src="~/scriptsViews/Patient/Index.js"></script>
}
